.App {
  text-align: center;
  padding-top: 64px;
}

.App-header-title {
  flex: 1;
  text-align: left;
}
.main{
  /* display: flex; */
  height: 100%;
  padding: 20px;
}
.navBar{
  width: 35%;
  border: 1px solid grey;
}
.nav-list{
  list-style-type: none;
}
.nav-item{
  margin: 20px auto;
}
.a{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.tableRow{
  width: 100%;
  text-align: center;
  border: 1px solid grey;
}
.tableRow{
  border-bottom: 1px solid grey;
}
.App-intro {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
